<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.minus.apertureoverlay.nuwa">
    <application android:hasCode="false" />
    <overlay android:isStatic="true"
             android:priority="1"
             android:targetPackage="org.minus.aperture"
             android:targetName="NuwaApertureOverlay" />
</manifest>
